/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*--------------------------------------------------------------
Reset
-------------------------------------------------------------- */
/* line 85, ../scss/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
/* line 104, ../scss/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 107, ../scss/_reset.scss */
html {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

/* line 119, ../scss/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 123, ../scss/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 129, ../scss/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 133, ../scss/_reset.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 140, ../scss/_reset.scss */
code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 144, ../scss/_reset.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 149, ../scss/_reset.scss */
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 154, ../scss/_reset.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 161, ../scss/_reset.scss */
sup {
  bottom: 1ex;
}

/* line 164, ../scss/_reset.scss */
sub {
  top: .5ex;
}

/* line 167, ../scss/_reset.scss */
small {
  font-size: 75%;
}

/* line 170, ../scss/_reset.scss */
big {
  font-size: 125%;
}

/* line 173, ../scss/_reset.scss */
figure {
  margin: 0;
}

/* line 176, ../scss/_reset.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* line 180, ../scss/_reset.scss */
th {
  font-weight: bold;
}

/* line 186, ../scss/_reset.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
}

/* line 199, ../scss/_reset.scss */
button,
input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
  *overflow: visible;
  /* Corrects inner spacing displayed oddly in IE6/7 */
}

/* line 210, ../scss/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: solid 1px #ccc;
  border-radius: 5px;
  background: rgba(200, 200, 200, 0.5);
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  padding: 0.8em 1.1em 0.7em;
}

/* line 229, ../scss/_reset.scss */
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  background: rgba(200, 200, 200, 0.9);
  color: black;
}

/* line 243, ../scss/_reset.scss */
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  outline: 0;
}

/* line 250, ../scss/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

/* line 258, ../scss/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  box-sizing: content-box;
}

/* line 268, ../scss/_reset.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

/* line 274, ../scss/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

/* line 283, ../scss/_reset.scss */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  color: #555;
  border: 1px solid #aaa;
  border-radius: 5px;
}

/* line 291, ../scss/_reset.scss */
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  color: #101010;
}

/* line 296, ../scss/_reset.scss */
input[type=text],
input[type=email],
input[type=tel] {
  padding: 3px;
}

/* line 299, ../scss/_reset.scss */
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding: 10px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
}

@font-face {
  font-family: 'open_sansregular';
  src: url("font/OpenSans-Regular-webfont.eot");
  src: url("font/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/OpenSans-Regular-webfont.woff") format("woff"), url("font/OpenSans-Regular-webfont.ttf") format("truetype"), url("font/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url("font/OpenSans-Bold-webfont.eot");
  src: url("font/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("font/OpenSans-Bold-webfont.woff") format("woff"), url("font/OpenSans-Bold-webfont.ttf") format("truetype"), url("font/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansitalic';
  src: url("font/OpenSans-Italic-webfont.eot");
  src: url("font/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("font/OpenSans-Italic-webfont.woff") format("woff"), url("font/OpenSans-Italic-webfont.ttf") format("truetype"), url("font/OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold_italic';
  src: url("font/OpenSans-BoldItalic-webfont.eot");
  src: url("font/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("font/OpenSans-BoldItalic-webfont.woff") format("woff"), url("font/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("font/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url("font/OpenSans-Light-webfont.eot");
  src: url("font/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("font/OpenSans-Light-webfont.woff") format("woff"), url("font/OpenSans-Light-webfont.ttf") format("truetype"), url("font/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight_italic';
  src: url("font/OpenSans-LightItalic-webfont.eot");
  src: url("font/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("font/OpenSans-LightItalic-webfont.woff") format("woff"), url("font/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("font/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* icon font */
@font-face {
  font-family: 'icons';
  src: url("font/entypo.eot");
  src: url("font/entypo.eot?#iefix") format("embedded-opentype"), url("font/entypo.ttf") format("truetype"), url("font/entypo.woff") format("woff"), url("font/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Flexbox mixins
-------------------------------------------------------------- */
/* line 2, ../scss/_d3.scss */
#graph #bioGraph {
  position: relative;
}
/* line 5, ../scss/_d3.scss */
#graph #bioGraph svg {
  display: block;
  /* required for firefox to give valid
  height and width used values for getComputedStyle()
  see https://bugzilla.mozilla.org/show_bug.cgi?id=874919 
  */
  width: 100%;
  /* make it responsive */
  height: 100%;
}
/* line 13, ../scss/_d3.scss */
#graph #bioGraph svg .node {
  stroke: #fff;
  stroke-width: 1.5px;
}
/* line 16, ../scss/_d3.scss */
#graph #bioGraph svg .node.highlight, #graph #bioGraph svg .node:hover {
  stroke-width: 2px;
  stroke: #666;
}
/* line 20, ../scss/_d3.scss */
#graph #bioGraph svg .node.selected {
  stroke: #000;
}
/* line 23, ../scss/_d3.scss */
#graph #bioGraph svg .node.searched {
  stroke: #000;
  stroke-dasharray: 11px 4px;
}
/* line 27, ../scss/_d3.scss */
#graph #bioGraph svg .node.searched.background {
  stroke-opacity: 0.5;
  fill-opacity: 0.5;
}
/* line 30, ../scss/_d3.scss */
#graph #bioGraph svg .node.background {
  stroke-opacity: 0.3;
  fill-opacity: 0.3;
}
/* line 34, ../scss/_d3.scss */
#graph #bioGraph svg .link {
  fill: none;
  stroke: #bbbbbb;
  stroke-width: 1px;
  marker-end: url(#arrowhead);
}
/* line 39, ../scss/_d3.scss */
#graph #bioGraph svg .link.highlight {
  stroke: #777;
  marker-end: url(#arrowhead-highlight);
}
/* line 43, ../scss/_d3.scss */
#graph #bioGraph svg .link.background {
  stroke-opacity: .3;
  marker-end: url(#arrowhead-background);
}
/* line 48, ../scss/_d3.scss */
#graph #bioGraph svg .arrowhead, #graph #bioGraph svg .arrowhead-background, #graph #bioGraph svg .arrowhead-highlight {
  fill: #aaaaaa;
  stroke: #fff;
  stroke-width: 1px;
}
/* line 53, ../scss/_d3.scss */
#graph #bioGraph svg .arrowhead {
  stroke-opacity: 0.9;
  fill-opacity: 0.9;
}
/* line 54, ../scss/_d3.scss */
#graph #bioGraph svg .arrowhead-highlight {
  stroke-opacity: 1;
  fill-opacity: 1;
  fill: #999999;
}
/* line 55, ../scss/_d3.scss */
#graph #bioGraph svg .arrowhead-background {
  stroke-opacity: 0.3;
  fill-opacity: .3;
}
/* line 58, ../scss/_d3.scss */
#graph #bioGraph #search_section {
  position: absolute;
  right: 0;
  top: -40px;
  width: 40%;
  max-width: 250px;
}
/* line 64, ../scss/_d3.scss */
#graph #bioGraph #search_section input {
  color: #888;
  border: 1px solid #bbb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  width: 100%;
}
/* line 71, ../scss/_d3.scss */
#graph #bioGraph #search_section input:focus {
  color: #000;
  border: 1px solid #888888;
}
/* line 78, ../scss/_d3.scss */
#graph #bioGraph #reset {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 85, ../scss/_d3.scss */
#graph #categories {
  position: relative;
  margin: 13px 0;
}
/* line 88, ../scss/_d3.scss */
#graph #categories .title {
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 92, ../scss/_d3.scss */
#graph #categories .checkboxes {
  display: inline-block;
  margin: 0 5px;
  position: relative;
  top: 6px;
}
/* line 98, ../scss/_d3.scss */
#graph #categories .checkboxes .category {
  padding-left: 4px;
  margin: 0 3px;
}
/* line 101, ../scss/_d3.scss */
#graph #categories .checkboxes .category input {
  margin-right: 3px;
}
/* line 104, ../scss/_d3.scss */
#graph #categories .checkboxes .category:before {
  width: 22px;
}

/* line 112, ../scss/_d3.scss */
.category {
  color: #000;
  display: inline-block;
  line-height: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid;
  padding: 1px 6px;
  margin: 0 0 6px 8px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
/* line 127, ../scss/_d3.scss */
.category:before {
  content: " ";
  font-size: 13px;
  position: absolute;
  left: 0px;
  top: 0;
  padding: 0 4px 0 6px;
  border: none;
  -webkit-border-radius: 2px 0px 0px 2px;
  -moz-border-radius: 2px 0px 0px 2px;
  -ms-border-radius: 2px 0px 0px 2px;
  -o-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  z-index: -1;
  height: 100%;
  width: 20px;
  line-height: 20px;
  line-height: 2rem;
}
/* line 143, ../scss/_d3.scss */
.category.umwelt {
  border-color: #74c476;
}
/* line 145, ../scss/_d3.scss */
.category.umwelt:hover {
  color: #74c476;
  border-color: none;
}
/* line 146, ../scss/_d3.scss */
.category.umwelt:before {
  background: #74c476;
}
/* line 148, ../scss/_d3.scss */
.category.politik {
  border-color: #fd8d3c;
}
/* line 150, ../scss/_d3.scss */
.category.politik:hover {
  color: #fd8d3c;
  border-color: none;
}
/* line 151, ../scss/_d3.scss */
.category.politik:before {
  background: #fd8d3c;
}
/* line 153, ../scss/_d3.scss */
.category.wirtschaft {
  border-color: #207ec2;
}
/* line 155, ../scss/_d3.scss */
.category.wirtschaft:hover {
  color: #207EC2;
  border-color: none;
}
/* line 156, ../scss/_d3.scss */
.category.wirtschaft:before {
  background: #207EC2;
}
/* line 158, ../scss/_d3.scss */
.category.technologie {
  border-color: #9467bd;
}
/* line 160, ../scss/_d3.scss */
.category.technologie:hover  {
  color: #9467bd;
  border-color: none;
}
/* line 161, ../scss/_d3.scss */
.category.technologie:before {
  background: #9467bd;
}

/* line 165, ../scss/_d3.scss */
#meta {
  position: relative;
}
/* line 168, ../scss/_d3.scss */
#meta .categories {
  font-style: italic;
  margin: 5px 0;
}
/* line 172, ../scss/_d3.scss */
#meta .category {
  padding-left: 23px;
}
/* line 177, ../scss/_d3.scss */
#meta .connected {
  width: 100%;
  font-size: 80%;
}
/* line 181, ../scss/_d3.scss */
#meta .incoming, #meta .outgoing, #meta .flex {
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 186, ../scss/_d3.scss */
#meta .incoming .node, #meta .outgoing .node, #meta .flex .node {
  -webkit-box-flex: 0 0 48%;
  -moz-box-flex: 0 0 48%;
  -webkit-flex: 0 0 48%;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  width: 48%;
}
/* line 189, ../scss/_d3.scss */
#meta .incoming .node a, #meta .outgoing .node a, #meta .flex .node a {
  margin-left: 5px;
}

/* line 197, ../scss/_d3.scss */
.d3-tip, .ui-tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  pointer-events: none;
  z-index: 10;
}

/* line 208, ../scss/_d3.scss */
.ui-tooltip {
  max-width: 250px;
  font-size: 80%;
}

/* Creates a small triangle extender for the tooltip */
/* line 214, ../scss/_d3.scss */
.d3-tip:after, .ui-tooltip .arrow:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  pointer-events: none;
}

/* line 224, ../scss/_d3.scss */
.ui-tooltip .arrow:after {
  font-size: 12px;
}

/* Northward tooltips */
/* line 229, ../scss/_d3.scss */
.d3-tip.n:after, .ui-tooltip .arrow.bottom:after {
  content: "\25BC";
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
/* line 238, ../scss/_d3.scss */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
/* line 246, ../scss/_d3.scss */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
/* line 255, ../scss/_d3.scss */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* jquery tooltip log */
/* line 263, ../scss/_d3.scss */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* use border-box box-layout for each and every element */
/* line 19, ../scss/screen.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../scss/screen.scss */
html, body {
  height: 100%;
}

/* line 27, ../scss/screen.scss */
html {
  font-size: 62.5%;
  /* font-size: 62.5% now means that 1.0 rem = 10px */
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
}

/* line 31, ../scss/screen.scss */
body {
  line-height: 1.6;
  font-size: 1.6em;
}

/* line 36, ../scss/screen.scss */
header, main, footer {
  width: 100%;
}

/* line 40, ../scss/screen.scss */
.inner {
  width: 95%;
  margin: 0 auto;
}

/* Main styles
-------------------------------------------------------------- */
/* line 48, ../scss/screen.scss */
main .inner {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 52, ../scss/screen.scss */
main .inner section#graph {
  -webkit-box-flex: 0 0 68%;
  -moz-box-flex: 0 0 68%;
  -webkit-flex: 0 0 68%;
  -ms-flex: 0 0 68%;
  flex: 0 0 68%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  width: 68%;
}
/* line 56, ../scss/screen.scss */
main .inner section#meta {
  -webkit-box-flex: 0 0 30%;
  -moz-box-flex: 0 0 30%;
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  width: 30%;
}
/* line 61, ../scss/screen.scss */
main .inner section#meta > section {
  margin-bottom: 0.5em;
}

/* line 66, ../scss/screen.scss */
#bioGraph {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 600px;
}

/* Buttons
-------------------------------------------------------------- */
/* line 75, ../scss/screen.scss */
a.button {
  display: inline-block;
  position: relative;
  padding: 10px;
  line-height: 1.1;
  margin: 0.2em 1.6em 0.3em 0;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 3px #dddddd;
  -moz-box-shadow: 1px 1px 3px #dddddd;
  box-shadow: 1px 1px 3px #dddddd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(221, 221, 221, 0.1)), color-stop(90%, rgba(221, 221, 221, 0.5)));
  background-image: -webkit-linear-gradient(rgba(221, 221, 221, 0.1), rgba(221, 221, 221, 0.5) 90%);
  background-image: -moz-linear-gradient(rgba(221, 221, 221, 0.1), rgba(221, 221, 221, 0.5) 90%);
  background-image: -o-linear-gradient(rgba(221, 221, 221, 0.1), rgba(221, 221, 221, 0.5) 90%);
  background-image: linear-gradient(rgba(221, 221, 221, 0.1), rgba(221, 221, 221, 0.5) 90%);
  color: #444444;
}
/* line 89, ../scss/screen.scss */
a.button:hover {
  color: #000000;
  -webkit-box-shadow: 2px 2px 4px #dddddd;
  -moz-box-shadow: 2px 2px 4px #dddddd;
  box-shadow: 2px 2px 4px #dddddd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(221, 221, 221, 0.1)), color-stop(90%, rgba(221, 221, 221, 0.9)));
  background-image: -webkit-linear-gradient(rgba(221, 221, 221, 0.1), rgba(221, 221, 221, 0.9) 90%);
  background-image: -moz-linear-gradient(rgba(221, 221, 221, 0.1), rgba(221, 221, 221, 0.9) 90%);
  background-image: -o-linear-gradient(rgba(221, 221, 221, 0.1), rgba(221, 221, 221, 0.9) 90%);
  background-image: linear-gradient(rgba(221, 221, 221, 0.1), rgba(221, 221, 221, 0.9) 90%);
}
/* line 95, ../scss/screen.scss */
a.button:active {
  -webkit-box-shadow: 2px 2px 4px #dddddd, 1px 1px 3px #cccccc inset;
  -moz-box-shadow: 2px 2px 4px #dddddd, 1px 1px 3px #cccccc inset;
  box-shadow: 2px 2px 4px #dddddd, 1px 1px 3px #cccccc inset;
}

/* Typography
-------------------------------------------------------------- */
/* line 103, ../scss/screen.scss */
body, button, input, textarea, select {
  font-family: 'open_sanslight', Helvetica, sans-serif;
}

/* Headings */
/* line 108, ../scss/screen.scss */
h1 {
  line-height: 60px;
  line-height: 6rem;
  font-size: 38px;
  font-size: 3.8rem;
}

/* line 114, ../scss/screen.scss */
h2 {
  line-height: 40px;
  line-height: 4rem;
  font-size: 30px;
  font-size: 3rem;
  padding-top: 0.3em;
}

/* line 121, ../scss/screen.scss */
h3 {
  line-height: 35px;
  font-size: 26px;
  font-size: 2.6rem;
  padding-top: 0.2em;
}

/* line 127, ../scss/screen.scss */
h4 {
  line-height: 26px;
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 134, ../scss/screen.scss */
h1:first-child, h2:first-child, h3:first-child, h4:first-child {
  padding-top: 0;
}

/* line 139, ../scss/screen.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* Text elements */
/* line 147, ../scss/screen.scss */
ul,
ol {
  margin: 0 0 1.5em 3em;
}

/* line 150, ../scss/screen.scss */
ul {
  list-style: disc;
}

/* line 153, ../scss/screen.scss */
ol {
  list-style: decimal;
}

/* line 159, ../scss/screen.scss */
ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 163, ../scss/screen.scss */
dt {
  font-weight: bold;
}

/* line 166, ../scss/screen.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 170, ../scss/screen.scss */
b,
strong {
  font-weight: bold;
}

/* line 176, ../scss/screen.scss */
dfn,
cite,
em,
i {
  font-style: italic;
}

/* line 179, ../scss/screen.scss */
blockquote {
  margin: 0 1.5em;
}

/* line 182, ../scss/screen.scss */
address {
  margin: 0 0 1.5em;
}

/* line 185, ../scss/screen.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.7em;
  line-height: 1.5em;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%;
  box-shadow: 0 3px 5px #ddd inset;
}

/* Links */
/* line 197, ../scss/screen.scss */
a {
  color: #a56d07;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
/* line 202, ../scss/screen.scss */
a.ext-link:after {
  padding-left: 3px;
  content: "\e62a";
  font-family: "icons";
  font-size: 87%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* line 213, ../scss/screen.scss */
a.no-icon.ext-link:after {
  content: "";
  padding: 0;
}

/* line 220, ../scss/screen.scss */
a:hover,
a:focus,
a:active {
  color: #F6A81C;
}

/* Alignment */
/* line 224, ../scss/screen.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 229, ../scss/screen.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 234, ../scss/screen.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* line 240, ../scss/screen.scss */
.center {
  text-align: center;
}

/* Misc & mixens
-------------------------------------------------------------- */
/* line 249, ../scss/screen.scss */
.clearfix {
  *zoom: 1;
}
/* line 251, ../scss/screen.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
  visibility: hidden;
}
/* line 256, ../scss/screen.scss */
.clearfix:after {
  clear: both;
}
